extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='/smoothie.js')    
    link(rel='stylesheet', href='/css/style.css')
    
block content
    .container
        .header
            .col-md-4
                #logo
                #tagline
                p.tag Real time political sentiment analysis 
            .col-md-5
            .col-md-3.about    
                a
                    p.aboutFont About
            
         
        .col-md-2.side
            form(method='GET' action='/graph').side-form
                p.head Topics
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='clinton')
                        p Hillary Clinton 
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='trump')
                        p Donald Trump
                .checkbox    
                    label
                        input(type='checkbox' name='topics' value='johnson')
                        p Gary Johnson
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='stein')
                        p Jill Stein
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='kaine')
                        p Tim Kaine
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='pence')
                        p Mike Pence
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='democrat')
                        p Democrat
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='republican') 
                        p Republican
                .form-group
                    select(name="frame" id="sel").form-control
                        option Select Time Frame
                        option(value="hour") Last Hour
                        option(value="fiveHour") Last 5 Hours
                        option(value="day") Last Day
                        option(value="week") Last Week
                        option(value="month") Last Month
                input(type='submit' value='Create Graph').btn.btn-graph
        .biggraph.col-md-8
            #graph-div
            script.
                function capitalize(s) {
                    return s[0].toUpperCase() + s.substr(1);
                }

                var trace1 = !{JSON.stringify(graph_data)};   
                //console.log(trace1.length); 
                console.log(trace1); 
                for (var i = 0; i < trace1.length; i++) { 
                    trace1[i]['name'] = capitalize(trace1[i]['name']); 
                    trace1[i]['line'] = {};
                    trace1[i]['mode'] = 'lines'; 
                    switch(trace1[i]['name']) {
                        case 'Clinton': 
                            trace1[i]['line']['color'] = 'rgb(40, 9, 236)'; 
                        break; 
                        case 'Trump': 
                            trace1[i]['line']['color'] = 'rgb(250, 0, 6)'; 
                        break; 
                        case 'Johnson':
                            trace1[i]['line']['color'] = 'rgb(254, 154, 0)';  
                        break; 
                        case 'Stein': 
                            trace1[i]['line']['color'] = 'rgb(0, 140, 0)'; 
                        break; 
                        case 'Kaine': 
                            trace1[i]['line']['color'] = 'rgb(0, 248, 179)'; 
                        break; 
                        case 'Pence': 
                            trace1[i]['line']['color'] = 'rgb(182, 4, 246)'; 
                        break; 
                        case 'Democrat': 
                            trace1[i]['line']['color'] = 'rgb(115, 156, 251)'; 
                        break; 
                        case 'Republican': 
                            trace1[i]['line']['color'] = 'rgb(252, 99, 189)'; 
                        break; 
                    }
                }
                var layout = {
                    margin: {
                        l: 75, 
                        r: 50, 
                        t: 50, 
                        b: 75,
                    },
                    xaxis: {
                        rangeslider: {},
                        tickfont: {
                            size: 14,
                        },
                    },
                    yaxis: {
                        tickfont: {
                            size: 14,
                        },
                        //range: [-0.5, 0.5],
                    },
                };
                Plotly.newPlot('graph-div', trace1, layout); 