extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='smoothie_scripts/smoothie.js')    
    link(rel='stylesheet', href='/css/style.css')
    
block content
    .container
        .header.col-md-12
            #logo
            #search
                form
                    input(type='text' class='bar' name='search' placeholder='How does the world feel about...?' autofocus)
                    input(type='submit' class='button' value=' ')
            #tagline
                p Aggregated sentiment from #[a(href='http://www.twitter.com') Twitter], #[a(href='http://www.facebook.com') Facebook], #[a(href='http://www.reddit.com') Reddit] and #[a(href='how_we_get_data') others]. 
        .biggraph.col-md-12
            #graph-div
            script.
                var trace1 = !{JSON.stringify(graph_data)};   
                var data = [trace1];
                Plotly.newPlot('graph-div', data); 
        .footer.col-md-12
