extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='/smoothie.js')    
    link(rel='stylesheet', href='/css/style.css')
    
block content
    .container
        .header
            .col-md-4
                #logo
                #tagline
                p.tag Real time political sentiment analysis 
            .col-md-5
            .col-md-3.about    
                a
                    p.aboutFont About
            
         
        .col-md-2.side
            form(method='GET').side-form
                p.head Topics
                .checkbox
                    input(type='checkbox' name='topics' value='clinton')
                    p Hillary Clinton
                .checkbox    
                    input(type='checkbox' name='topics' value='johnson')
                    p Gary Johnson
                .checkbox
                    input(type='checkbox' name='topics' value='kaine')
                    p Tim Kaine
                .checkbox
                    input(type='checkbox' name='topics' value='pence')
                    p Mike Pence
                .checkbox
                    input(type='checkbox' name='topics' value='trump')
                    p Donald Trump
                .checkbox
                    input(type='checkbox' name='topics' value='stein')
                    p Jill Stein
                .checkbox
                    input(type='checkbox' name='topics' value='democrat')
                    p Democrat
                .checkbox
                    input(type='checkbox' name='topics' value='republican')
                    p Republican
                input(type='submit' value='Create Graph').btn.btn-graph
        .biggraph.col-md-8
            #graph-div
            script.
                var trace1 = !{JSON.stringify(graph_data)};  
                /*var layout = {
                    title: topicTerm + ' Sentiment',
                    xaxis: {
                        title: 'Time'
                    },
                    yaxis: {
                        title: 'Sentiment'
                    }
                };*/
                Plotly.newPlot('graph-div', trace1); 