extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='/smoothie.js')    
    link(rel='stylesheet', href='/css/style.css')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-84276874-1', 'auto');
        ga('send', 'pageview');
block content
    .container
        .header
            .col-md-4
                a(href='/')
                    #logo
                #tagline
                p.tag Real-time political sentiment analysis 
            .col-md-5
            .col-md-3.about    
                form(action='/index')
                    input(type='submit' value='About').btn.btn-link
        .col-md-2.side
            form(method='GET' action='/graph' id='inputInfo').side-form
                h4.head Topics
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='clinton')
                        p Hillary Clinton 
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='trump')
                        p Donald Trump
                .checkbox    
                    label
                        input(type='checkbox' name='topics' value='johnson')
                        p Gary Johnson
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='stein')
                        p Jill Stein
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='kaine')
                        p Tim Kaine
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='pence')
                        p Mike Pence
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='democrat')
                        p Democrat
                .checkbox
                    label
                        input(type='checkbox' name='topics' value='republican') 
                        p Republican
                .form-group
                    select(name="frame" id="sel").form-control
                        option Select Time Frame
                        option(value="hour") Last Hour
                        option(value="fiveHour") Last 5 Hours
                        option(value="day") Last Day
                        //option(value="week") Last Week
                        //option(value="month") Last Month
                input(type='submit' value='Create Graph').btn.btn-graph
                //script.
                    /*var elements = document.getElementsByClassName("class-1");
                    var i; 
                    for (i = 0, len = elements.length; i < len; i++) {
                    // elements[i].style ...
                        localStorage[i] = elements[i].value; 
                    }
                    document.getElementById('sel').onchange = function() {
                    localStorage[i] = document.getElementById("sel").value;
                    }
                    window.onload= function(){
                        for(var j = 0; j < localStorage.length; j++) {
                            if(localStorage[i])
                                document.getElementById("sel").value = localStorage['sel'];
                        }
                    }*/
        .biggraph.col-md-8
            .middle-title
                h3#demo How are people on Twitter feeling about...?
                p.header-under (Select topics and time frame on the left to find out!)
            #graph-div
            script.
                function capitalize(s) {
                    return s[0].toUpperCase() + s.substr(1);
                }
                var header = "How are people on Twitter feeling about..."
                var trace1 = !{JSON.stringify(graph_data)};   
                for (var i = 0; i < trace1.length; i++) { 
                    trace1[i]['name'] = capitalize(trace1[i]['name']); 
                    header = header + ' ' + trace1[i]['name']; 
                    if( i == trace1.length -1) {
                        header += '?'; 
                    }
                    else {
                        header += ', '; 
                    }
                    trace1[i]['line'] = {};
                    trace1[i]['mode'] = 'lines'; 
                    switch(trace1[i]['name']) {
                        case 'Clinton': 
                            trace1[i]['line']['color'] = 'rgb(40, 9, 236)'; 
                        break; 
                        case 'Trump': 
                            trace1[i]['line']['color'] = 'rgb(250, 0, 6)'; 
                        break; 
                        case 'Johnson':
                            trace1[i]['line']['color'] = 'rgb(254, 154, 0)';  
                        break; 
                        case 'Stein': 
                            trace1[i]['line']['color'] = 'rgb(0, 140, 0)'; 
                        break; 
                        case 'Kaine': 
                            trace1[i]['line']['color'] = 'rgb(0, 248, 179)'; 
                        break; 
                        case 'Pence': 
                            trace1[i]['line']['color'] = 'rgb(182, 4, 246)'; 
                        break; 
                        case 'Democrat': 
                            trace1[i]['line']['color'] = 'rgb(115, 156, 251)'; 
                        break; 
                        case 'Republican': 
                            trace1[i]['line']['color'] = 'rgb(252, 99, 189)'; 
                        break; 
                    }
                }
                var layout = {
                    margin: {
                        l: 75, 
                        r: 50, 
                        t: 50, 
                        b: 75,
                    },
                    xaxis: {
                        rangeslider: {},
                        tickfont: {
                            size: 14,
                        },
                    },
                    yaxis: {
                        tickfont: {
                            size: 14,
                        },
                        showticklabels: false, 
                    },
                    annotations: [
                        {
                            text: 'Neutral', 
                            y: 0,
                            x: 0,
                            xref: 'paper',
                            yref: 'y',
                            xanchor: 'right',
                            yanchor: 'bottom',
                            showarrow: false, 
                        },

                        {
                            text: 'Positive', 
                            y: 0.9,
                            x: 0,
                            xref: 'paper',
                            yref: 'paper',
                            xanchor: 'right',
                            yanchor: 'bottom',
                            showarrow: false, 
                        },

                        {
                            text: 'Negative', 
                            y: 0.1,
                            x: 0,
                            xref: 'paper',
                            yref: 'paper',
                            xanchor: 'right',
                            yanchor: 'bottom',
                            showarrow: false, 
                        }
                    ] 
                };

                document.getElementById("demo").innerHTML = header;
                Plotly.newPlot('graph-div', trace1, layout); 
    