extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='/smoothie.js')    
    link(rel='stylesheet', href='/css/style.css')
    
block content
    .container
        .header
            .col-md-4
                #logo
                #tagline
                p.tag Real time political sentiment analysis 
            .col-md-5
            .col-md-3    
              #search
                form
                    input(type='text' class='bar' name='search' autofocus)
                    //input(type='submit' class='button' value=' ')
        .biggraph.col-md-12
            #graph-div
            script.
                var trace1 = !{JSON.stringify(graph_data)};  
                var topicTerm = !{JSON.stringify(topic)}; 
                console.log(topicTerm);  
                trace1['name'] = topicTerm; 
                var data = [trace1];
                var layout = {
                    title: topicTerm + ' Sentiment',
                    xaxis: {
                        title: 'Time'
                    },
                    yaxis: {
                        title: 'Sentiment'
                    }
                };
                Plotly.newPlot('graph-div', data, layout); 