extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='/smoothie.js')      
    link(rel='stylesheet', href='/css/style.css')
    
block content
    .container
        .header
            .col-md-4
                #logo
                #tagline
                p.tag Real time political sentiment analysis 
            .col-md-5
            .col-md-3    
              #search
                form(action='/graph')
                    input(type='text' class='bar' name='search' autofocus)
                    //input(type='submit' class='button' value=' ')
        .header 
            button.btn-default
        .biggraph.col-md-12
            #graph-div
            script.
                var trace1 = !{JSON.stringify(graph_data)};  
                var trace2 = !{JSON.stringify(graph_data2)}; 
                trace1['name'] = 'Clinton'; 
                trace2['name'] = 'Trump'; 
                trace2['line']= { 'color':'rgb(219, 64, 82)'}; 
                var data = [trace1, trace2];
                console.log(data); 
                var layout = {
                    title:'Trump vs. Clinton',
                    xaxis: {
                        title: 'Time'
                    },
                    yaxis: {
                        title: 'Sentiment'
                    }
                };
                Plotly.newPlot('graph-div', data, layout);    


