extends layout

block head-includes
    script(type='text/javascript' src="https://cdn.plot.ly/plotly-latest.min.js")
    link(rel='stylesheet', href='/css/style.css')

block content
    .container
        .col-md-12
            h1 Politronix
            p Live political insight from the crowd 
            #tester
