extends layout

block head-includes
    script(type='text/javascript' src='https://cdn.plot.ly/plotly-latest.min.js')
    script(type='text/javascript' src='smoothie_scripts/smoothie.js')    
    link(rel='stylesheet', href='/css/style.css')
    
block content
    .container
        .header
            .col-md-4
                #logo
                #tagline
                p.tag Real time political sentiment analysis 
            .col-md-5
            .col-md-3    
              #search
                form(action='/graph')
                    input(type='text' class='bar' name='search' autofocus)
                    //input(type='submit' class='button' value=' ')
        .biggraph.col-md-12
            #graph-div
            script(type='text/javascript' src='/js/graph-plotly.js')    


