body {
    background-color: lightgrey; 
}

.container {
    width: 100%;
    padding: 0px;
}

.header {
    text-align: left;
    /*background-color: rgba(255,215,0,1);*/
    background-color: #eee;
    height: 125px;
}

#rain-canvas {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

#logo {
    background-image: url("/img/Politronix_black.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    /*margin-top: 15px;*/
    height: 50px;
   /* width: 50px;*/
   margin-top: 15px;
}

.tag{
    font-size: 16px;
    padding-left: 5px; 
}

#favIcon {
    /*<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">*/
    background-image: url("/img/favicon-16x16_360.png");

}

#search {
    text-align: center;
    /*height: 130px;*/
    vertical-align: top;

}

#search form {
    padding: 15px 0px 55px 0px;
    overflow: hidden;
    vertical-align: top;
}


#search form .bar {
    width: 90%;
    height: 40px;
    border-style: none;
    /* border-right-style: none;
    border-width: 2px;
    border-color: #2f4f4f; */
    line-height: 100px;
    font-size: 18px;
    padding-left: 20px;
    background-color: rgba(200,200,200,0.8);
    margin-top: 15px;
}

#search form .bar:focus {
    outline: none;
}


#search form .button {
    width: 60px;
    height: 60px;
    border-style: none;
    /* border-left-style: none;
    border-width: 2px;
    border-color: #2f4f4f; */
    background-image: url("/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(150,150,150,0.8);
}

#search form .button:focus {
    outline: none;
}

#tagline {
    text-align: center;
    font-size: 16px;
    padding-left: 5px; 
}

#tagline p {
    font-size: 20px;
    color: rgba(50,50,50,1);
}

#tagline p a:link {
    color: #235789;
}

.biggraph {
    text-align:center;
    margin-top: 10px; 
}

#graph-div {
    /*padding: 10px;*/
    width:100%;
    height:600px;

    box-shadow: 5px 10px 10px #888888; 
}

#about-div {
    background-color: white; 
    width:100%;
    padding: 5px 20px 5px 20px;
    box-shadow: 5px 10px 10px #888888; 
    margin-top: 10px;
}


.tiles {
    background-color: #235789;
}

.tiles .col-md-4 {
    margin: 10px;
    background-color: #FDFFFC;
    height: 450px;
}

.footer {
    background-color: #eee;;
    height: 80px;
}

.no-display {
    display:none;
    width:0px;
    height:0px;
}

.side {
    background-color: black;
    color: white;
    margin-top: 20px;
     font-size: 16px;
    height: 100vh;
}

.middle-title {
    background-color: black; 
    color: white;
    width: 100%;
    margin-top: 10px; 
    margin-bottom: 10px;
    padding-top: 1px; 
    padding-bottom: 5px;
    box-shadow: 5px 5px 10px #888888;
}

.side-form {
     padding-left: 10px; 
    margin-bottom: 100%;
}

.btn-graph {
    background-color: black;
    border-color: gray;
    border-radius: 10px;
    border-width: medium; 
}

.svg-container {
    /*box-shadow: 5px 10px 10px #888888; */
}

.checkbox {
    margin-bottom: 20px; 
}

h4.head {
    text-align: center;
}
.row{
    height: 100%;
}

.about {
    text-align: center; 
    margin-top: 48px;
    font-size: 18px;
    
}

p.aboutFont {
    color: gray;
}

p.clinton-dot {
    background-image: url('/img/clinton_blue.png');
    background-repeat: no-repeat;
}

p.header-under {
    color: #c7c6c6;
}

label.drop {
    font-size: 24px; 
    font-weight: normal;
}

.form-group {
    margin-bottom: 20px; 
    text-align: center; 
}

.form-control { 
    width: 85%;
}

h4.about-header { 
    text-align: left; 
    color: gray
}

h3.about-header {
    color: #6d6c6c;
    font-style: italic;
}

h1.about-header {
    color: #5a5a5a
}

p.about-text { 
    text-align: left; 
}

